*{
  font-family:'Roboto', sans-serif;
}
table .nonborder, th .nonborder, tr .nonborder{
  border: none !important;
}
td,th{
 border: 1px solid black;
 text-align: center;
}
table{
  margin-bottom: 2%;
}
th,td{
  padding:10px 5px;
}
.thDetail{
  text-align: left;
  width: 20%
}
.tdDetail{
  text-align: left
}
.kopSurat{
  border-bottom: 5px solid black;
}
.judul{
	font-size:16;
	text-align: center;
}